@media screen and (max-width: 480px) {

    .index-page {
        background-size: 300%;
    }

    .root {
        /* max-width: 90vw; */
    }

    /* NAVBAR */

    /* home section */
    .container .d-flex {
        flex-direction: column;
    }

    .des-cont {
        align-items: center;
        text-align: center;
        width: 100vw;
        margin-right: 0;
    }
    
    #home-section {
        margin-top: 15vh;
    }
    
    .heading-bee {
        position: relative;
    }
    
    .bee {
        position: absolute;
        right: 0%;
        top:-45%;
        width: calc(4vw);
        transform: rotate(270deg);
    }
    
    /* description */
    
    .des-cont {
        margin-right: 0;
    }

    .paras {
        margin: 5em 0 1em 0;
    }
    
    .paras-1 {
        margin:0 0 2em 0;
    }

    .col-1 {
        width: 100%;
    }
    
    .col-1 h1 {
        font-size: 4em;
        color: #FFF;
        font-weight: 700;
        letter-spacing: 2px;
    }
    
    .col-1 h1 span {
        color: #9FEF00;
    }
    
    .col-1 h1 hr {
        position: relative;
        bottom: 5px;
        width: 90%;
        border: none;
        border-bottom: 1px solid #9FEF00;
    }
    
    .col-1 h4 {
        font-size: 1.7em;
        font-weight: 600;
        color: white;
        margin-right: 2vw;
    }
    
    .col-1 p {
        color: #A4B1CD;
        font-size: 1.3em;
        padding: 0 3em;
        font-weight: 300;
        text-align: center;
        /* margin: 0 0 0 6em; */
    }
    

    /* LOGO */

    .col-2 {
        margin: 2em 0;
        transform: scale(80%);
    }

    /* home section buttons */

    .btn {
        padding: 1.3vh 0;
        min-width: 10rem;
        margin: 0;
        margin-bottom: 0.06em;
        border: 1px solid #9FEF00;
        font-size: 1em;
    }

    .buttons {
        grid-row-gap: 3vh;
        right: 0vw;
    }

    .btn img {
        display: none;
    }


    /* PAST EVENTS */

    #past-events {
        margin: 10em 0;
    }

    .primary_heading {
        font-weight: 400;
        font-size: 2.2em;
    }

    .wrapper {
        flex-direction: column;
        grid-gap: 10vh;
        width: auto;
    }

    .card {
        width: 250px;
        height: 200px;
    }

    .card .info p {
        font-size: 10px;
    }


    /* SCHEDULE AND TRACKS */

    .sp-cont {
        display: none;
    }

    .rs-sp-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .co-logo {
        width: 10vw;
        grid-gap: 15vw;
    }

    .sp-logo {
        width: 10vw;
        margin-bottom: 5em;
        color: #FFF;
    }

    .gdsc-sec .gdsc {
        grid-gap: 15vw;
    }

    .gdsc div img {
        width: 15vw;
    }

    .gdsc div div {
        color: #FFF;
        position: relative;
        bottom: 20px;
    }


    /* DOMAIN SECTION */

    #tech-dom {
        margin-bottom: 0em;
    }

    .heads h2 {
        font-size: 2.2em;
        font-weight: 400;
        text-align: center;
    }

    .heads p {
        font-size: 1em;
    }

    .red-box {
        /* background-position: 110%; */
        background-size: cover;
    }

    .dom-card-des {
        font-size: 0.5em;
        font-weight: 400;
    }


    /* TEAMS */

    #teams {
        /* display: none; */
        max-height: 100vh;
    }

    .res-team {
        display: none;
    }



    /* SOCIALS */

    .socials {
        position: fixed;
        bottom: 0%;
        right: 0%;
        left: 0%;
        background-color: #111927;
        padding: 0.6em 0;
        grid-gap: 15vw;
        z-index: 100;
    }


    /* SCHEDULE AND TRACKS */

    .st-cont-row {
        flex-direction: column;
        grid-gap: 20vh;
    }

    .tracks {
        width: 100%;
        height: 50vh;
    }

    .calendar-wrap {
        max-width: 75vw;
        font-size: 0.8rem;
    }

    /* ------FAQs------ */

    .container-f {
        padding: 0;
    }

    /* TEAMS */

    .infocardcontainer {
        width: 20%;
    }








    /* background */
    #background div{
        display: none;
    }


    /* domain section */
    .dom-svg {
        display: none;
    }

    /* TEAMS */
    .profile_cards_div {
        overflow-x: scroll;
    }

}